.body{
    -fx-background-image: url("../IMG/bg1.jpg");
    -fx-background-size: 100% 100%;
}
.label{
    -fx-font-family: "Trebuchet MS";
}
.text-field{
    -fx-font-family: "Trebuchet MS";
}

.password-field{
    -fx-font-family: "Trebuchet MS";
}

.menu-button{
    -fx-font-family: andalus;
    -fx-font-size: 17px;
}

.mapToolBar{
    -fx-background-color: #CCCCCC;
}