.body{
    -fx-background-image: url("../IMG/bg1.jpg");
    -fx-background-size: 100% 100%;
}
.body2{
    -fx-background-image: url("../IMG/PopularityFactorsMenu/bottom.jpg");
}
.sidePane{
    -fx-background-image: url("../IMG/SideBC.png");
    -fx-background-size: 100% 100%;
}
.chat{
    -fx-background-image: url("../IMG/chat/bg.jpg");
    -fx-background-size: 100% 100%;
}
.label{
    -fx-font-family: "Trebuchet MS";
}
.text-field{
    -fx-font-family: "Trebuchet MS";
}

.password-field{
    -fx-font-family: "Trebuchet MS";
}

.menu-button{
    -fx-font-family: andalus;
    -fx-font-size: 17px;
}

.custom-button{
    -fx-background-image: url("../IMG/PopularityFactorsMenu/bottom.jpg");
    -fx-text-fill: white;
    -fx-border-color: #8c5f06;
}

.mapToolBar{
    -fx-background-color: #CCCCCC;
}